<div class="container form-horizontal">
    <br>
    <br>
    {{ form_start(form) }}
    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.username) }}
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.email) }}
        </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.password) }}
        </div>
    </div>

    <!-- Text input-->
    {#<div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.avatar) }}

        </div>
    </div>#}

    <!-- File Button -->
    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.avatarFile) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>