<div class="container form-horizontal">
    <br>
    <br>
    {{ form_start(form) }}

    {% if not form.vars.valid %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ form_errors(form) }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.username) }}
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.email) }}
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.role) }}

        </div>
    </div>

    <!-- File Button -->
    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.avatarFile) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>