{% extends 'layout.html.twig' %}

{% block title %}Carro{% endblock %}

{% block contenido %}
<div class="container">
    {% for articulo in carro %}
        <div class="card col-md-4 text-center" >
            {% if articulo.imagen is not null %}
                {% set imagen = fotos_url_directory ~ articulo.imagen %}
            {% else %}
                {% set imagen = default_foto %}
            {% endif %}
            <img src="{{ asset(imagen) }}" class="card-img-top" height="250px">
            <div class="card-body">
                <h4 class="card-title">{{ articulo.nombre }}</h4>
                <p class="card-text">{{ articulo.descripcion }}</p>
                <div class="row">
                    <div class="col-md-3">
                        <h6>Precio:</h6>{{ articulo.precio }} €
                    </div>
                    <div class="col-md-5">
                        <h6>Categoria:</h6>{{ articulo.categoria }}
                    </div>
                    <div class="col-md-4">
                        <h6>Estado:</h6>{{ articulo.estado }}
                    </div>
                </div><br>
                <div class="row">
                    <a href="/articulos/{{ articulo.id }}" class="btn btn-primary">Ver</a>

                    <a href="{{ path('carro_delete', {'id': articulo.id}) }}" class="btn btn-danger">Eliminar del carro</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-md-3 pull-right">
        <h1>Total: {{ total }} €</h1>
    </div>
    {% if carro != null %}
    <div class="col-md-3 pull-right">
        <h1><a href="{{ path('carro_comprar') }}" class="btn btn-success">Comprar</a></h1>
    </div>
    {% endif %}
</div>
{% endblock %}
