{% extends 'layout.html.twig' %}

{% block title %}Usuario index{% endblock %}

{% block contenido %}
    <h1>Usuario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.role }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('usuario_show', {'id': usuario.id}) }}">Ver</a>
                    <a class="btn btn-primary" href="{{ path('usuario_admin_edit', {'id': usuario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay usuarios</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('usuario_admin_new') }}">Crear nuevo usuario</a>
{% endblock %}
