{% extends 'layout.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block contenido %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="jumbotron alert-info">
        {% if usuario.avatar is not null %}
            {% set imagen = fotos_url_directory ~ usuario.avatar %}
        {% else %}
            {% set imagen = default_foto %}
        {% endif %}
        <img src="{{ asset(imagen) }}" class="col-md-3">
        <div class="container">
            <h2>{{usuario.username}}</h2>
            <h5>{{usuario.email}} </h5>
            <strong>Fecha de registro:</strong> {{usuario.fechaRegistro | date("d/m/Y")}}<br>
            <strong>Artículos publicados: </strong><br>
            <strong>Rango: </strong> {{ usuario.rango }}<br>
            <br><br><br><br><br>

            <hr class="alert-danger">
            {% if app.user.id == usuario.id or is_granted('ROLE_ADMIN') %}
                <h3>Modificar datos</h3>

                <a class="btn btn-primary" href="{{ path('usuario_edit', {'id': usuario.id}) }}">Modificar datos</a>
            {% endif %}

            <a class="btn btn-primary" href="{{ path('usuario_articulos', {'id': usuario.id}) }}">Ver artículos del usuario</a>
        </div>
    </div>

{% endblock %}
