{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block contenido %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error.messageKey | trans(error.messageData, 'security') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form id="form-login" action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="login"> Email/Usuario</label>
            <input type="text" class="form-control" name="_username" id="username" value="{{ last_username }}">
    </div>
    <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="_password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
{% endblock %}

