{% extends 'base.html.twig' %}

{% block title %}
Electro - HTML Ecommerce Template
{% endblock %}

{% block body %}

    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li>
                        <a href="#"><i class="fa fa-phone"></i> Teléfono</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-map-marker"></i> Dirección</a>
                    </li>
                </ul>
                <ul class="header-links pull-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <li>
                        <a href="{{ path('usuario_index') }}"> <i class="fa fa-users"></i> Gestionar usuarios</a>
                    </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('usuario_articulos', {'id': app.user.id}) }}"><i class="fas fa-book"></i> Mis artículos</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_show', {'id': app.user.id}) }}"><i class="fas fa-user"></i> Mi perfil</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}"> <i class="fas fa-sign-out-alt"></i> {{ app.user.username }} - Salir</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ path('login') }}"> <i class="fas fa-sign-out-alt"></i> Entrar</a>
                    </li>
                    <li>
                        <a href="{{ path('registro') }}"> <i class="fas fa-sign-out-alt"></i> Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="d-flex flex-row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="{{asset('/img/logo.png')}}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form action="{{ path('articulo_buscar') }}" method="post">
                                <select class="input-select" name="categoria">
                                    <option value="todas">Todas</option>
                                    {% for categoria in categorias %}
                                    <option value="{{ categoria }}">{{ categoria }}</option>
                                    {% endfor %}
                                </select>
                                <input class="input" placeholder="Búsqueda..." name="busqueda">
                                <button class="search-btn" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="d-flex flex-col">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div>
                                <a href="{{ path('articulo_new') }}"><i class="fas fa-plus-square"></i> <span>Añadir un artículo</span></a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div>
                                <a href="{{ path('carro') }}"><i class="fa fa-shopping-cart"></i><span>Mi carro de la compra</span></a>
                            </div>
                            {% endif %}
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menú</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active">
                        <a href="{{ path('electrovic_pages_inicio') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('articulo_listar_categoria', {'categoria': 'sobremesa' }) }}">PC Sobremesa</a>
                    </li>
                    <li>
                        <a href="{{ path('articulo_listar_categoria', {'categoria': 'portatiles' }) }}">Portátiles</a>
                    </li>
                    <li>
                        <a href="{{ path('articulo_listar_categoria', {'categoria': 'moviles' }) }}">Móviles</a>
                    </li>
                    <li>
                        <a href="{{ path('articulo_listar_categoria', {'categoria': 'consolas' }) }}">Consolas</a>
                    </li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    {% block contenido %} {% endblock %}
{% endblock %}