{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Error {{ status_code }}  {% endblock %}

{% block main_container %}
    <p><strong>Error {{ status_code }} - {{ status_text }}</strong></p>
    <p>Volver a <a href="{{ path('articulo_listar') }}">inicio</a>.</p>
{% endblock %}
