<div class="container">
    <br>
    {{ form_start(form) }}

    {% if not form.vars.valid %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ form_errors(form) }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_row(form.nombre) }}
            </div>
        </div>
        <div class="form-group col-md-2">
            {{ form_row(form.precio) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(form.descripcion) }}
        </div>
        <div class="form-group col-md-4"">

        {{ form_row(form.categoria) }}
    </div>
    <!--<label for="categoria">Categoria</label>
    <input type="text" class="form-control" name="categoria">
    </div>-->
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form_row(form.estado) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(form.imagenFile) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>
