{% extends 'layout.html.twig' %}

{% block title %}Edit Articulo{% endblock %}

{% block contenido %}
    <h1>Edit Articulo</h1>

    {{ include('articulo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('articulo_listar') }}">back to list</a>
{#
    {{ include('articulo/_delete_form.html.twig') }}#}
{% endblock %}
