{% extends 'layout.html.twig' %}

{% block title %}Electrovic - Home{% endblock %}

{% block contenido %}
    <br>
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="container">
        {% for articulo in articulos %}
            <div class="card col-md-6 text-center" >
                {% if articulo.imagen is not null %}
                    {% set imagen = fotos_url_directory ~ articulo.imagen %}
                {% else %}
                    {% set imagen = default_foto %}
                {% endif %}
                <img src="{{ asset(imagen) }}" class="card-img-top" height="250px" alt="/articulos/{{ articulo.imagen }}/foto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="card-title">{{ articulo.nombre }}</h4>
                        </div>
                        <div class="col-md-3 pull-right"><h5>Vendedor: <a href="/usuarios/{{ articulo.usuario.id }}">{{ articulo.usuario.username }}</a></h5>
                        </div>
                    </div>
                    <p class="card-text">{{ articulo.descripcion }}</p>

                    <div class="row">
                        <div class="col-md-3">
                            <h6>Precio:</h6>{{ articulo.precio }} €
                        </div>
                        <div class="col-md-5">
                            <h6>Categoria:</h6>{{ articulo.categoria }}
                        </div>
                        <div class="col-md-4">
                            <h6>Estado:</h6>{{ articulo.estado }}
                        </div>
                    </div><br>
                    <?php if ($_usuario) :?>
                    <div class="row">
                        <a href="{{ path('articulo_show', {'id': articulo.id}) }}" class="btn btn-primary">Ver</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if articulo.usuario.id != app.user.id %}
                                <a class="btn btn-success" href="/carro/{{ articulo.id }}" role="button">Añadir al carro</a>
                            {% endif %}

                            {% if (app.user.id == articulo.usuario.id) or is_granted('ROLE_ADMIN')  %}
                                <a class="btn btn-primary" href="{{ path('articulo_edit', {'id': articulo.id}) }}">Modificar</a>
                                <a class="btn btn-danger" href="{{ path('articulo_delete', {'id': articulo.id}) }}">Eliminar</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}