{% extends 'layout.html.twig' %}

{% block title %}{{ articulo.name }}{% endblock %}

{% block contenido %}
    <br><br><br>

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="jumbotron text-center alert-info">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                {% if articulo.imagen is not null %}
                    {% set imagen = fotos_url_directory ~ articulo.imagen %}
                {% else %}
                    {% set imagen = default_foto %}
                {% endif %}
                <img src="{{ asset(imagen) }}" width="500px">
                <hr>
                <h2>{{ articulo.nombre }}</h2>
                <h5>{{ articulo.descripcion }}</h5>
                <h4>{{ articulo.precio }}€</h4>
                {{ articulo.usuario.username }}
                <h6>Estado: {{ articulo.estado }}</h6>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if articulo.usuario.id != app.user.id %}
                        <a class="btn btn-success" href="/articulos/{{ articulo.id }}/carro"
                           role="button">Añadir al carro</a>
                    {% endif %}

                    {% if (app.user.id == articulo.usuario.id) or is_granted('ROLE_ADMIN')  %}
                        <a class="btn btn-primary" href="{{ path('articulo_edit', {'id': articulo.id}) }}">Modificar</a>
                        <a class="btn btn-danger" href="{{ path('articulo_delete', {'id': articulo.id}) }}">Eliminar</a>
                    {% endif %}
                {% endif %}

                <a class="btn btn-primary" href="{{ path('electrovic_pages_inicio')}}">Volver a la lista</a>
            </div>
        </div>
    </div>
{% endblock %}
